<nav class="sheet-tabs tabs headlineTabs" data-group="primary">
    <a class="item itemTabsText" data-tab="core">
        <img class="navBtn" src="systems/yuigahama/assets/img/icons/surfer.svg" title="{{localize 'yuigahama.tab.first'}}" alt="{{localize 'yuigahama.tab.first'}}">
    </a>
    <a class="item itemTabsText" data-tab="description">
        <img class="navBtn" src="systems/yuigahama/assets/img/icons/equipement.svg" alt="{{localize 'yuigahama.tab.second'}}" title="{{localize 'yuigahama.tab.second'}}">
    </a>
   <a class="item itemTabsText" data-tab="evolution">
        <img class="navBtn" src="systems/yuigahama/assets/img/icons/mystere.svg" alt="{{localize 'yuigahama.tab.third'}}" title="{{localize 'yuigahama.tab.third'}}">
    </a>
</nav>
