$c-white: #fff;
$c-black: #000;

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444;

$white: white;
$black: RGB(043 042 051);
$lightBlack: RGB(076 074 090);
$blue: RGB(037 085 228);
$lightBlue: RGB(087 110 178);
$green:#1AAB8A;
$red:#AF0000;
$lightGrey:RGB(193, 193, 193);