<div class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img-pnj" src="{{document.img}}" data-edit="img" alt="{{document.name}}" title="{{document.name}}" data-action="editImage"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{document.name}}" placeholder="{{localize 'yuigahama.item.name.placeholder'}}"/></h1>
            <h3 class="charname"><input name="system.subtitle" type="text" value="{{document.system.subtitle}}" placeholder="{{localize 'yuigahama.item.subtitle.placeholder'}}"/></h3>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-action="tab" data-group="primary" data-tab="description">{{localize 'yuigahama.item.description'}}</a>
        <a class="item" data-action="tab" data-group="primary" data-tab="attributes">{{localize 'yuigahama.item.regles_opt'}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body-item">

        <div class="tab" data-group="primary" data-tab="description">
            <div class="infobox">
                <fieldset class="description">
                    <legend class="text-block-header"></legend>
                   <prose-mirror toggled name="system.description" {editable}}
                                 value="{{ document.system.description }}">{{{ document.system.description }}}</prose-mirror>
                </fieldset>
            </div>
        </div>

        <div class="tab" data-group="primary" data-tab="attributes">
            <div class="infobox">
                <fieldset class="description">
                    <legend class="text-block-header"></legend>
                    <prose-mirror toggled name="system.regles_opt" {editable}}
                                  value="{{ document.system.regles_opt }}">{{{ document.system.regles_opt }}}</prose-mirror>
                </fieldset>
            </div>
        </div>
    </section>
</div>
